<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music to My Ears</title>

  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/output.css">
  <link rel="stylesheet" href="/css/buttonStyle.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/b3f46e2a2f.js" crossorigin="anonymous"></script>

  <style>
    body {
      min-height: 100vh;
    }

    .main-content {
      padding-bottom: 4rem;
    }
  </style>
</head>

<body>
  <div class="flex-column justify-space-around min-h-screen relative">
    <header class="display-flex align-center p-2 w-auto">
      <span class="logo flex-grow"><a href="/"><img src="/images/webpageLogo.png"
            class="webpageLogo w-90 h-20 animate__animated animate__backInRight"></a></span>

    </header>
    <div class="navbar text-center mx-auto sticky">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/community">Community</a></li>
        {{!-- <li><a href="/community">Community</a></li> --}}
        <div class="search-container mr-20 pl-10">
          <input id="searchbar" class="rounded" style="text-indent: 20px;" placeholder="Search for a post..."/>
          <button class="btn" id="searchbtn"><i class="fa fa-search float-left"></i></button>
        </div>
        {{#unless logged_in}}
        <button>
         <a href="/login" class="loginbtn mr-28 text-xl">Login</a>
        </button>

        {{/unless}}
        {{#if logged_in}}
         <li><a><button class="btn " id="logout">Logout</button></a></li>
        {{/if}}
      </ul>

    </div>
    <div class="main-content pt-6">
      {{{ body }}}
    </div>
    <footer class="bottom-0 w-full text-black text-xl text-center py-4">
      <button class="contact-us hover:text-pink-800"><i class="fa fa-solid fa-envelope animate-bounce mr-4"></i><a href="/contact">Contact Us</a></button>
    </footer>
    {{!-- If the user is logged in, load the JS script for when they logout --}}
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <script src="/js/search.js"></script>
  </div>
</body>

</html>