<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music to My Ears</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link href="/css/output.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <span class="logo"><a href="/"> &#x1F3B5; Music to My Ears &#x1F3B5; </a></span>
      <div class="right">

        
        {{#unless logged_in}}
        <button> 
          <a href="/login">Login</a>         
        </button>
         {{/unless}}
         {{#if logged_in}}
          <button class="btn" id="logout">Logout</button>

         {{/if}}
        <input placeholder="Search" />
      </div>
    </header>
    <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
    </div>

    <main class="container container-fluid mt-5">
      <div class="row">
        <div class="col-lg-8">
          <div class="large-box">
            {{!-- handlebars will submit data into this large box --}}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            {{{ body }}}
            {{!-- handlebars will submit data for the content of the sidebar --}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="small-box">
            {{!-- handlebars will submit data into this small box --}}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="small-box">
            {{!-- handlebars will submit data into this small box --}}
          </div>
        </div>
      </div>
    </main>

    <footer>   
      <button class="contact-us"><a href="/contact">Contact Us</a></button>
    </footer>

    {{!-- If the user is logged in, load the JS script for when they logout --}}
    {{#if logged_in}}

      <script src="/js/logout.js"></script>
    {{/if}}
  </div>
</body>

</html>


