<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music to My Ears</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header>
    <h1> Test Marley!! Music to My Ears!</h1>
    
  </header>

  <main> {{{body}}}
  </main>

  <footer>   
  </footer>

  {{!-- connects the FE js to allow the logout button  that's rendered to have functionality  --}}
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
