<div class="w-full">
  <div class="px-64 py-1">
    <h2 class="text-xl font-bold mb-2">What's Happening Now?</h2>
    <div class="border border-black mt-2 h-80">
      <h4 class="text-lg font-bold mb-2">Content showing latest uploaded playlists</h4>
      <p></p>
    </div>
  </div>
</div>