{{!< layout}} <div class="grid grid-cols-12 gap-4 w-11/12 ml-auto mr-auto">
  <div class="col-span-7">
    <h4>Trending playlists</h4>
    <div class="border border-black mt-2">
      {{#each posts as |post| }}
      <div class="flex gap-4 border border-black mt-2 ml-2 mr-2 mb-2">
        <div class="h-20 w-20 border border-black mt-2 ml-2 mb-2"></div>
        <div class="mt-2">
          <h3>{{post.title}}</h3>
          <span>{{post.content}}</span>
          <br />
          <small>Post created on {{formatDate post.createdAt}}</small>
          <small><i>{{post.post_type}}</i></small>

          {{!-- heart button. Like and unlike --}}

          <button id="like" onclick="liked()">
            <i class="fa fa-heart"></i>
            <span class="icon">Like</span>
          </button>

          {{!-- heart button end --}}

        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="col-span-3">
    <h2>Second column</h2>
  </div>
  <div class="col-span-2">
    <h2>Third column</h2>
  </div>
  </div>

  <script src="/js/animation.js"></script>