{{!< layout}}
<div class="grid grid-cols-12">
  <div class="col-span-12 w-3/5 mx-auto mt-16">
    <h2 class="text-center font-bold text-3xl text-pink-500 mb-6">Login</h2>
    <form class="login-form">
      <div class="form-group mt-3">
        <div>
          <input type='text' placeholder='Enter your email address'
            class='w-full px-8 pb-1.5 bg-grey-700 h-12 border border-gray-400 rounded-lg text-gray-800 font-medium focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-transparent'
            id="email-login" />
        </div>
      </div>
      <div class="form-group mt-3">
        <div>
          <input type='password' placeholder='Enter password'
            class='w-full px-8 pb-1.5 bg-grey-700 h-12 border border-gray-400 rounded-lg text-gray-800 font-medium focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-transparent'
            id="password-login" />
        </div>
      </div>
      <div class="form-group mt-3 flex flex-row">
        <div class="ml-40">
        </div>
      </div>
      <div class="form-group mt-3">

        <div class="button-wrap">
          <button class="sign-in-button">Sign In</button>
        </div>

      </div>
      <div class="form-group mt-8 flex justify-between">
        <button class="signup-btn text-xl font-light text-grey-text">Don't have an account? <span class="signup-btnText text-black font-bold">Sign
            up</span></button>
        <button class="forgot-btn text-xl pt-2 font-bold text-black">Forgot Password?</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
