{{!< layout}} 
<div class="grid grid-cols-12 gap-4 w-11/12 ml-auto mr-auto">
  <div id="interact_box"class="col-span-7">
    <br />
    <h4 class="text-center text-2xl text-purple-800 font-bold mb-6"><i class="fa fa-solid fa-users mr-2"></i></i>All users</h4>
    <div class="border-4 border-purple-800 mt-2 rounded-xl">
      {{#each users as |user| }}
        <div class="border-2 border-pink-900 rounded-lg bg-gradient-to-t from-indigo-200 via-purple-200 to-pink-100 m-2 mb-6 p-2 flex gap-4">
        <div class="postText-container mt-2">
          <h3 class="text-xl font-bold text-purple-900"><i class="fa fa-solid fa-user mr-2"></i>{{user.name}}</h3>
          <span><small>{{user.bio}}</small></span>
          <br/ >
          <a href="/users/{{user.id}}"><button class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-xs mt-4" type="submit" data="{{post.id}}">
            Go to user
          </button></a>
          
        </div>
        </div>
      {{/each}}
    </div>
  </div>


 
</div>
