{{!< layout}} 
<div class="grid grid-cols-12 gap-4 w-11/12 ml-auto mr-auto">
  <div id="interact_box"class="col-span-7">
    <br />
    <h4 class="text-xl font-bold mb-2">All users</h4>
    <div class="main-border mt-2">
      {{#each users as |user| }}
      <a href="/users/{{user.id}}">
        <div class="primary-container flex gap-4 mt-2 ml-2 mr-2 mb-2">
        <div class="postText-container mt-2">
          <h3 class="text-lg font-bold">{{user.name}}</h3>
          <span><small>{{user.bio}}</small></span>
          <br/ >
          <button class="linkbtn bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-xs" type="submit" data="{{post.id}}">
            Go to user
          </button>
          
        </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>


 
</div>
<script src="/js/interactPost.js"></script>